@model List<FindRoomMate.Models.Broker>
@{
    ViewBag.Title = "FindBroker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FindBroker</h2>

    @foreach(var s in Model)
    {
        <div class="bg-info text-center" style="color=white;">
            Broker Name= @s.BrokerName <br/>
            Broker Add= @s.BrokerArea, @s.BrokerCity, @s.BrokerPlace<br />
            Number= @s.BrokerNumber1 <br />
        </div><br />

    }





